
.users {
    margin: 5%;
    border: 4px solid navy;

    .col {
        width: 40%;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .users {
        .col {
            width: 100%;
        }
    }
}